@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-jobs-tab" data-toggle="tab" href="#viewJobsTab">All Jobs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="job-config-tab" data-toggle="tab" href="#JobTab">New Job</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="viewJobsTab">
        @Html.Action("ViewAll")
    </div>
    <div class="tab-pane fade" id="JobTab">
        @Html.Action("New")
    </div>
</div>