<footer class="footer">
    <div class="row">
        <nav class="col-md-4">
            <h3 class="text-center mb-4 footer-header">
                <i class="fa fa-globe"></i>
                Section
            </h3>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">@Html.ActionLink("All Jobs", "Index", "Job" )</li>
                <li class="list-group-item">Important Links</li>
                <li class="list-group-item">Default</li>
            </ul>
        </nav>

        <div class="col-md-4">
            <h3 class="text-center mb-4 footer-header">
                <i class="fa fa-globe"></i>
                Section
            </h3>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">Contact Us</li>
                <li class="list-group-item">Important Links</li>
                <li class="list-group-item">Default</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="text-center mb-4 footer-header">
                <i class="fa fa-globe"></i>
                Section
            </h3>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">Contact Us</li>
                <li class="list-group-item">Important Links</li>
                <li class="list-group-item">Default</li>
            </ul>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center copy-right">
        ALL Rights Reserved &#64 @DateTime.Now.Year
    </div>
</footer>