@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="~/Manage/Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole("Admins"))
                {
                    <a class="dropdown-item" href="~/Roles">Manage Roles</a>
                    <a class="dropdown-item" href="~/JobCategory">Manage Categories</a>
                    <a class="dropdown-item" href="~/Job">Manage Jobs</a>
                }
                else if (User.IsInRole("Publishers"))
                {
                    <a class="dropdown-item" href="~/Job">Manage Jobs</a>
                    <a class="dropdown-item" href="~/Home/AppliedJobsPostedByPublisher">Jobs Applications</a>
                    @*<a class="dropdown-item" href="~/Job/@User.Identity.GetUserId()">My Jobs</a>*@
                }
                else
                {
                    <a class="dropdown-item" href="~/Home/JobsAppliedByUser">My Applications</a>
                }

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right d-flex">
    <li class="nav-item">
        <a href="~/Account/Register" id="registerLink" class="nav-link">
            <i class="fa fa-user-plus"></i>
            Register
        </a>
    </li>
    <li class="nav-item">
        <a href="~/Account/Login" id="loginLink" class="nav-link">
            <i class="fa fa-sign-in"></i>
            Login
        </a>
    </li>
</ul>
}
