@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
    background-color: #003E6A;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.main-container {
    padding: 50px 0;
}

.main {
    min-height: 550px;
    position: relative;
}

.main-nav {
    padding: 20px;
}

#notification {
    position: absolute;
    top: 0;
    right: 0;
}

.site-sreach-input {
    width: 180px;
    padding-left: 40px;
    background-image: url('../Images/icons8-search-50.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    transition: width .5s ease-in-out;
    margin-left: 50px;
}

.site-sreach-input:focus {
    width: 100%;
}


.nav-link > i {
    font-size: 25px;
    color: #FFA31C;
}

.footer {
    background-color: #01376e;
    overflow: hidden;
}

.footer .list-group-item {
    background-color: #01376e;
    color: #d1d1d1;
}

.copy-right {
    background-color: #00264d;
    color: #d1d1d1;
}

.footer-header {
    color: #a3a3a3;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.controls {
    font-size: 25px;
}


li a.nav-link.active {
    border-top: 2px solid #0573e3;
}


#spinner-loader {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(103, 103, 103, 0.57);
}