@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
    background-color: #01376e;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.main {
    padding: 50px 0;
}

.site-sreach {
    width: 140px;
    padding-left: 40px;
    background-image: url('../Images/icons8-search-50.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    transition: width .5s ease-in-out;
}

.site-sreach:focus {
    width: 100%;
}

.footer {
    background-color: #01376e;
    overflow: hidden;
}

.footer .list-group-item {
    background-color: #01376e;
    color: #d1d1d1;
}

.copy-right {
    background-color: #00264d;
    color: #d1d1d1;
}

.footer-header {
    color: #a3a3a3;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icons {
    font-size: 20px;
}
