@model IEnumerable<JobOffers.Models.JobCategory>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<h2> Available Jobs </h2>

<section class="jumbotron jumb">
    <p class="lead"></p>
</section>

    @foreach (var category in Model)
    {

        <h3>@category.Name</h3>

        <div class="row">
            @foreach (var job in category.Jobs)
            {
                <div class="col-md-3">

                    <div class="card mt-4">
                        <img src="~/Uploads/@job.ImageUrl" class="card-img-top img-thumbnail" />

                        <div class="card-body">
                            <h4 class="card-title">@job.JobTitle</h4>
                            <div class="card-text">@job.JobDescription</div>
                            @Html.ActionLink("Details", "Details", "Job", new { id = job.Id }, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>

                <hr />
            }
        </div>

    }
