@{
    ViewBag.Title = "Job Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="all-categories-tab" data-toggle="tab" href="#viewCategoriesTab">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="category-config-tab" data-toggle="tab" href="#categoryTab">New Category</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="viewCategoriesTab">
        @Html.Action("ViewAll")
    </div>
    <div class="tab-pane fade" id="categoryTab">
        @Html.Action("Create")
    </div>
</div>